// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
  display: flex;
  flex-direction: column;
  background: url(https://source.unsplash.com/ZVhm6rEKEX8) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  transition: all 0.3s ease;
  transition-delay: 20ms;
}

.main-display {
  background-color: rgba(255, 255, 255, 0.43);
  margin-bottom: auto
}

nav {
  background-color: rgba(255, 255, 255, 0.43);
  flex-shrink: 0;
  margin-top: 30px;
}

.tempbar {
  height: 10px;
  width: 160px;
  border-radius: 8px;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #555555e3;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -175px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@media screen and (min-width: 768px) {
  .hourly::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }

  .hourly::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(104, 140, 240, 0.3);
    border-radius: 8px;
  }

  .hourly::-webkit-scrollbar-thumb {
    background-color: #d7d9db67;
    outline: 1px solid slategrey;
    border-radius: 8px;
  } 
}

@media screen and (max-width: 800px) {
  #myPopup {
    margin-left: -250px;
  }
}